<<<<<<< HEAD
<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
  <%= f.label :name, "Task" %>  
  <%= f.text_field :name %>
=======

<div class="field">
  <%= t.label :name, "Task" %>
  <%= t.text_field :name %>
>>>>>>> 02795a9799047990236848b6d3e3efbfeeb1b01b
</div>
