
<div class="field">
  <%= f.label :name, "Hunt Name" %> 
  <%= f.text_field :name %> 	

  <ul>
    <%= f.label :name, "Tasks:" %>  
    <%= f.fields_for :tasks do |ff| %>
      <li>   
        <%= ff.text_field :name %>
      </li>
    <% end %>	
  </ul>
</div>
