<div class="field">
  <%= f.label :name, "Hunt Name" %> 
  <%= f.text_field :name %> 	

  <table>
    <tr>
      <td class="main">
        <tr>
          <th> Tasks </th>
          <th> Points </th>
          <th> Locations </th>
          <ul>
            <%= f.fields_for :tasks do |ff| %>
              <tr>
                <td> <%= ff.text_field :name %> </td> 
                <td>  <%= ff.text_field :points %> </td> 
                <td>  <%= ff.text_field :location  %></td> 
              </tr>
            <% end %>	
          </ul>
        <tr>
        </td>
        </table>
      </div>
