
<div class="field">
<<<<<<< HEAD
  <%= f.label :name, "Hunt Name" %> 
  <%= f.text_field :name %> 	
   
<li>   
    <%= f.fields_for :hunt_tasks do |ff| %>
    <%= ff.label :name, "Task" %>  
    <%= ff.text_field :name %>
	<% end %>	
</li>

</div>
=======
<td>  <%= f.label :name, "Hunt Name" %>  </td>
<td>  <%= f.text_field :name %> </td>	
</div>  


<% @hunt.hunt_tasks.each do |t| %>

    <li> 
    	
    	</li>
<% end %>


>>>>>>> 02795a9799047990236848b6d3e3efbfeeb1b01b
