<header>
  <%= link_to logo, root_path %>
  <nav class="round">

      <% if signed_in? %> 
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Hunts", hunts_path %></li>

	      <li><%= link_to "Users", users_path %></li>
	      <li><%= link_to "Profile", current_user %></li>
	      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
 	      <% if current_user.invitation_limit > 0  %>
	      	<li><%= link_to "Invite Friends", new_invitation_path  %>
		 	(<%= current_user.invitation_limit %> left) </li>
      	  <% end %>	     
	      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <li><%= link_to "Sign in", signin_path %></li>
    <li><%= link_to "Help", help_path %></li>
      
      <% else %>
       
      <% end %>
    </ul>
  </nav>
</header>